@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,300,700);
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:focus {
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes line_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes line_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes line_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes line_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/*COLORS LISTs*/

.left,
.nav1 h1,
.nav1 ul li,
.tools-item,
.section2 ul li .list-icon,
.section2 ul li .list-content,
.section4 .col5-wrap,
.footer .social li {
  float: left;
}
.right,
.nav1 ul,
.mobile-menu-btn {
  float: right;
}
.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  left: 0px;
}
.bottom_bar {
  position: relative;
  display: inline-block;
}
.bottom_bar:after {
  content: "";
  position: absolute;
  display: inline;
  width: 97px;
  height: 5px;
  background-color: #227fbb;
  bottom: -10px;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
}
.col5-wrap {
  width: 20%;
}
.s-3-2 {
  width: 66.66%;
}
.s-3-1 {
  width: 33.33%;
}
p {
  font-size: 16px;
}
.godown {
  display: inline-block;
  color: #fff;
}
.godown .fa-angle-down {
  font-size: 60px;
}
.boxsizing,
.section1 .col3-wrap,
.section1 .col3-wrap p,
.section1 .col3-wrap .img-wrap,
.section3 .about-wrapper,
.section4 .col5-wrap,
.footer .contact-form input,
.footer .contact-form textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ebtn {
  font-size: 22px;
  color: #2b3e51;
  border: 3px solid #2b3e51;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ebtn:hover {
  background: #fff;
  color: #2b3e51;
  border: 3px solid #fff;
}
.container {
  max-width: 1170px;
  width: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  line-height: 1.3em;
}
.body-wrap {
  height: 100%;
  background-color: #fff;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.3em;
}
section {
  position: relative;
  padding: 74px 0;
}
section h2 {
  margin-bottom: 80px;
  color: #000 !important;
  font-weight: 400;
}
h2 {
  text-transform: uppercase;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
.owl-theme .owl-controls .owl-page span {
  background: #000;
}
.nav1 {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background: rgba(0, 0, 0, 0.3);
}
.nav1 h1 {
  margin: 8px 0 0 0;
  width: 64px;
  height: 47px;
  background-image: url(../img/logo.png);
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .nav1 h1 {
    background-image: url(../img/logo@2x.png);
  }
}
.nav1 ul li a {
  color: #ecf0f1;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 23px 14px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.nav1 ul li a.nav1hover,
.nav1 ul li a:hover {
  background-color: #2b3e51;
  color: #fff;
}
.nav1 ul:hover li a {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.nav1 ul:hover li a:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../img/write_banner_overlay.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.header .center {
  position: relative;
}
.header .center.cloud {
  top: 65%;
}
.header .center ul {
  left: 20%;
  color: #ecf0f1;
}
.header .welcome_msg {
  color: #ecf0f1;
  position: absolute;
  z-index: 999;
}
.header .welcome_msg .inner {
  width: 735px;
  display: inline-block;
}
.header .welcome_msg .inner h2 {
  font-size: 40px;
  margin-bottom: 1em;
}
.header .welcome_msg .inner h4 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 300;
}
.header .welcome_msg .inner .ebtn {
  background: #fff;
  margin-top: 30px;
  font-size: 18px;
  border-color: #ecf0f1;
  color: #2b3e51;
}
.header .welcome_msg .inner .ebtn:hover {
  border-color: #2b3e51;
  color: #2b3e51;
}
.header .godown {
  text-align: center;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  width: 100%;
}
.header .godown.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.section1 {
  text-align: center;
}
.section1 .col3-wrap {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 1px solid #ecf0f1;
  min-height: 396px;
  padding-bottom: 20px;
}
.section1 .col3-wrap h3 {
  padding: 20px 0 5px 0;
}
.section1 .col3-wrap p {
  font-size: 16px;
  padding: 20px;
}
.section1 .col3-wrap .img-wrap {
  font-size: 84px;
  color: #227fbb;
  padding: 20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.section1 .col3-wrap .img-wrap img {
  height: 100%;
}
.section1 .col3-wrap:hover {
  background: #227fbb;
  color: #ecf0f1;
}
.section1 .col3-wrap:hover .img-wrap {
  color: #ecf0f1;
}
#tools {
  width: 100%;
  max-width: 660px;
  margin: 30px auto 0 auto;
}
.tools-item {
  height: 100px;
  width: 100px;
  background-size: cover !important;
  position: relative;
  margin: 0px 5px;
}
.tools-item:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tools-item .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 240, 241, 0.9);
}
.tools-item .overlay h4 {
  color: #2b3e51;
  position: relative;
  top: 30%;
  font-weight: 700;
}
.section2 {
  text-align: center;
  background: #ecf0f1;
}
.section2 ul {
  text-align: left;
  overflow: visible;
  border-left: 1px solid #227fbb;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.section2 ul .step {
  position: absolute;
  left: 8px;
  font-size: 24px;
  font-weight: 700;
  top: 14%;
  color: #ecf0f1;
}
.section2 ul li {
  position: relative;
  overflow: hidden;
  padding-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  display: block;
  background: #fff;
}
.section2 ul li .center {
  top: 68%;
}
.section2 ul li .list-icon {
  position: relative;
  font-size: 70px;
  padding: 15px;
  height: 86px;
  color: #227fbb;
  width: 20%;
}
.section2 ul li .list-content {
  padding-top: 15px;
  width: 80%;
  float: right;
}
.section2 ul li .list-content p {
  font-family: "Merriweather", serif;
  padding-right: 10px;
}
.section3 {
  background: #ecf0f1;
  background-position: center;
  text-align: center;
}
.section3 .dark-color {
  color: #2b3e51 !important;
  padding-top: 30px;
}
.section3 h2:after {
  background-color: #2b3e51;
}
.section3 .slider-wrapper {
  margin-top: 20px;
}
.section3 .about-wrapper {
  padding: 30px 15px 15px 15px;
  overflow: hidden;
}
.section3 .about-wrapper h2 {
  margin-bottom: 40px;
}
.section3 .bg,
.section3 .img {
  min-height: 402px;
}
.section3 .bg {
  background-color: #fff;
}
.section3 .img {
  background: url(../img/startup.jpg);
  height: 402px;
  background-size: 200%;
  background-position: center;
}
.section3 p,
.section3 h2 {
  color: #2b3e51 !important;
}
.section3 .ebtn {
  color: #fff;
  border-color: #fff;
  margin: 80px 0 120px 0;
}
.section3 .ebtn:hover {
  background-color: #fff;
  color: #2b3e51;
}
.section4 {
  text-align: center;
}
.section4 ul {
  margin: 0px auto;
  max-width: 498px;
  width: 90%;
}
.section4 .col5-wrap {
  width: 50%;
  border: 1px solid #c0c0c0;
  height: 200px;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
}
.section4 .col5-wrap img {
  max-width: 100%;
}
.testimonial {
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  background: #227FBB;
  background-position: center;
  background-size: 100%;
}
.testimonial h2 {
  margin-bottom: 50px;
  color: #ecf0f1 !important;
}
.testimonial #tm {
  position: relative;
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}
.testimonial #tm:before {
  content: "";
  background: url(../img/open_quote.png);
  width: 48px;
  height: 40px;
  position: absolute;
  top: -38px;
  left: -70px;
  background-size: cover;
}
@media (max-width: 900px) {
  .testimonial #tm:before {
    left: -46px;
  }
}
@media (max-width: 767px) {
  .testimonial #tm:before {
    display: none;
  }
}
.testimonial #tm:after {
  content: "";
  background: url(../img/close_quote.png);
  width: 49px;
  height: 42px;
  position: absolute;
  top: -37px;
  right: -70px;
  background-size: cover;
}
@media (max-width: 900px) {
  .testimonial #tm:after {
    right: -47px;
  }
}
@media (max-width: 767px) {
  .testimonial #tm:after {
    display: none;
  }
}
.testimonial #tm .owl-item {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: #ecf0f1;
  line-height: 1.3em;
  font-weight: 300;
}
.testimonial #tm .client {
  max-width: 345px;
  width: 173px;
  margin: 0 auto;
  padding-top: 5px;
}
.testimonial #tm .client .right,
.testimonial #tm .client .nav1 ul,
.nav1 .testimonial #tm .client ul,
.testimonial #tm .client .mobile-menu-btn {
  float: none;
  position: relative;
}
.testimonial #tm .client .right h4,
.testimonial #tm .client .nav1 ul h4,
.nav1 .testimonial #tm .client ul h4,
.testimonial #tm .client .mobile-menu-btn h4 {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #ecf0f1;
  line-height: 1em;
}
.testimonial #tm .client .right .position,
.testimonial #tm .client .nav1 ul .position,
.nav1 .testimonial #tm .client ul .position,
.testimonial #tm .client .mobile-menu-btn .position {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  color: #ecf0f1;
}
.testimonial #tm .client .left,
.testimonial #tm .client .nav1 h1,
.nav1 .testimonial #tm .client h1,
.testimonial #tm .client .nav1 ul li,
.nav1 ul .testimonial #tm .client li,
.testimonial #tm .client .tools-item,
.testimonial #tm .client .section2 ul li .list-icon,
.section2 ul li .testimonial #tm .client .list-icon,
.testimonial #tm .client .section2 ul li .list-content,
.section2 ul li .testimonial #tm .client .list-content,
.testimonial #tm .client .section4 .col5-wrap,
.section4 .testimonial #tm .client .col5-wrap,
.testimonial #tm .client .footer .social li,
.footer .social .testimonial #tm .client li {
  float: none;
}
.testimonial #tm .client .left img,
.testimonial #tm .client .nav1 h1 img,
.nav1 .testimonial #tm .client h1 img,
.testimonial #tm .client .nav1 ul li img,
.nav1 ul .testimonial #tm .client li img,
.testimonial #tm .client .tools-item img,
.testimonial #tm .client .section2 ul li .list-icon img,
.section2 ul li .testimonial #tm .client .list-icon img,
.testimonial #tm .client .section2 ul li .list-content img,
.section2 ul li .testimonial #tm .client .list-content img,
.testimonial #tm .client .section4 .col5-wrap img,
.section4 .testimonial #tm .client .col5-wrap img,
.testimonial #tm .client .footer .social li img,
.footer .social .testimonial #tm .client li img {
  width: 50%;
  position: relative;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #000;
  padding: 100px 0;
  font-size: 20px;
  color: #227fbb;
}
.footer h4 {
  font-weight: 600;
  color: #227fbb;
}
.footer a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #227fbb;
}
.footer a:hover {
  color: #fff;
}
.footer .footer-menu,
.footer .address {
  line-height: 1.6em;
  overflow: hidden;
  border-right: 1px solid #227fbb;
  min-height: 200px;
  font-size: 16px;
}
.footer .footer-menu {
  margin-top: 50px;
}
.footer .address li {
  font-weight: 300;
}
.footer .address li .view_map {
  text-decoration: underline;
}
.footer .contact-form::-webkit-input-placeholder {
  color: #227fbb;
  font-size: 14px;
}
.footer .contact-form:-moz-placeholder {
  color: #227fbb;
  font-size: 14px;
}
.footer .contact-form::-moz-placeholder {
  color: #227fbb;
  font-size: 14px;
}
.footer .contact-form:-ms-input-placeholder {
  color: #227fbb;
  font-size: 14px;
}
.footer .contact-form input,
.footer .contact-form textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #227fbb;
  padding: 5px;
  text-indent: 5px;
  margin-bottom: 30px;
  outline: none;
  font-size: 14px;
  color: #ecf0f1;
}
.footer .contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
  min-height: 114px;
}
.footer .contact-form input[type="submit"] {
  width: auto;
  border: none;
}
.footer .contact-form .ebtn {
  font-size: 16px;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  background: #17c27d;
}
.footer .contact-form .ebtn:hover {
  color: #2b3e51;
  background: #fff;
}
.footer .social {
  width: 243px;
  margin: 0 auto;
}
.footer .social li {
  margin-right: 36px;
  z-index: 9999;
}
.footer .social li a {
  color: #17c27d;
}
.footer .social li a:hover {
  color: #fff;
}
.footer-btm {
  background: #000;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.map-wrapper {
  position: relative;
  height: 400px;
  width: 100%;
}
.map-wrapper #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.close1 {
  display: none;
  position: absolute;
  color: #2b3e51;
  font-size: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 5;
}
.mobile-menu-btn {
  display: none;
  color: #fff;
  font-size: 36px;
  padding: 14px 20px;
  background: #000;
  position: relative;
  cursor: pointer;
  right: -15px;
}
.mobile-menu-btn .fa-bars {
  color: #fff;
}
.mobile-menu {
  display: none;
  position: fixed;
  right: -250px;
  top: 0px;
  height: 100%;
  width: 250px;
  background-color: #000;
  z-index: 999;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.mobile-menu ul li {
  width: 100%;
}
.mobile-menu ul li a {
  display: block;
  padding: 22.5px;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  font-size: 20px;
}
.mobile-menu ul li a:hover {
  background: #2c97de;
  color: #fff;
}
.menu-left {
  right: 0px;
}
.about-us {
  margin: 0;
  padding: 0;
}
.about-us a {
  font-size: 14px;
  color: #2b3e51;
  font-weight: 700;
}
.about-us a:hover {
  color: #2c97de;
}
/*MEDIA QUERIES*/

@media (max-width: 1260px) {
  .header {
    background-size: cover;
  }
}
@media (max-width: 1100px) {
  .section2 .project_thumb li {
    position: relative;
    height: 247px;
  }
  .section2 .project_thumb li img {
    height: 100%;
  }
}
@media (max-width: 950px) {
  .section3 .img {
    background-size: 300%;
  }
}
@media (max-width: 900px) {
  .nav1 h1 {
    margin: 0px;
    padding: 0;
  }
  .body-wrap {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    left: 0px;
    position: relative;
    z-index: 9;
  }
  .body-left {
    left: -250px;
  }
  .nav1 {
    position: relative;
    background: #000;
    padding: 10px 0;
  }
  .nav1 ul {
    display: none;
  }
  .mobile-menu-btn {
    display: inline-block;
    position: fixed;
    top: 0px;
    right: 0px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .mobile-menu {
    display: block;
  }
  .section2 .project_thumb li {
    position: relative;
    width: 50%;
    height: 260px;
  }
  .section2 .project_thumb li img {
    height: 100%;
  }
  .menu-btn-left {
    right: 250px;
    position: fixed;
  }
  .testimonial {
    background-size: cover;
    height: auto;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px !important;
  }
  p {
    font-size: 16px !important;
  }
  .header .godown {
    bottom: 45px;
  }
  .header .welcome_msg .inner h2 {
    font-size: 34px !important;
  }
  .section2 .project_thumb li {
    position: relative;
    width: 100%;
    height: auto;
  }
  .section2 .project_thumb li img {
    height: auto;
  }
  .section2 ul li .list-content p {
    padding: 0px 10px;
  }
  .header .welcome_msg .inner {
    width: 100%;
  }
  .bottom_bar::after {
    content: "";
    bottom: -20px;
  }
  #tools {
    margin-top: 20px;
    overflow: hidden;
    width: 220px;
  }
  #tools .tools-item {
    margin-bottom: 10px;
  }
  .section3 #tm {
    width: 90%;
  }
  .section3 #tm:before {
    left: -25px;
  }
  .section3 #tm:after {
    bottom: 273px;
    right: -25px;
  }
  .section3 #tm .owl-item {
    font-size: 16px;
  }
  .section3 .s-3-2,
  .section3 .s-3-1 {
    width: 100%;
  }
  .section2 ul li {
    padding-left: 0px;
  }
  .section2 ul li .list-icon {
    width: 100%;
  }
  .section2 ul li .list-content {
    width: 100%;
    text-align: center;
  }
  .section4 .col5-wrap {
    width: 50%;
    height: 150px;
  }
  .section3 .img {
    height: 200px;
    min-height: 200px;
    background-size: 102% auto;
  }
  .footer .social {
    width: 100%;
  }
  .footer .social li {
    margin: 0 2%;
  }
  .footer .footer-menu,
  .footer .address {
    border-right: none;
  }
}
/*# sourceMappingURL=main.css.map */

