@import "partial/fonts";
@import "module/reset";
@import "partial/functions";
@import "partial/variable";
@import "module/commonattr";
@import "module/button";
.container{max-width: 1170px; width: 100%; }
body{ font-family: 'Lato', sans-serif;   overflow-x: hidden; line-height: 1.3em; }
.body-wrap{height: 100%; background-color: #fff;}
p{font-family: 'Lato', sans-serif; font-weight: 300;  }//'Merriweather', serif;}
section{position: relative; padding: 74px 0; h2{margin-bottom: 80px; color: #000 !important; font-weight: 700;}}
h2{text-transform: uppercase;}
.nav1{
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background: rgba(43,62,81,.95);
   background: #3e4e5e;
background: -moz-linear-gradient(-45deg, #3e4e5e 20%, #283a4c 20%, #3e4e5e 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(20%,#3e4e5e), color-stop(20%,#283a4c), color-stop(100%,#3e4e5e));
background: -webkit-linear-gradient(-45deg, #3e4e5e 20%,#283a4c 20%,#3e4e5e 100%);
background: -o-linear-gradient(-45deg, #3e4e5e 20%,#283a4c 20%,#3e4e5e 100%);
background: -ms-linear-gradient(-45deg, #3e4e5e 20%,#283a4c 20%,#3e4e5e 100%);
background: linear-gradient(135deg, #3e4e5e 20%,#283a4c 20%,#3e4e5e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4e5e', endColorstr='#3e4e5e',GradientType=1 );
    h1{
        margin: 0px;
        @extend .left;
        padding-top: 8px;       
    }
    ul{
        @extend .right;

        li{
            @extend .left;
            a{ color: $color1;
               display: inline-block;
               //font-weight: 700;
               font-size: 14px;
               text-transform: uppercase;
               letter-spacing: 3px;
               padding: 23px 14px;
               @include trasition();
               &.nav1hover, &:hover{
                   background-color: $color2;
                   color: #fff;
               }
            }
        }
    }

}
.header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background:  linear-gradient(
        rgba(255,255,255,.8), 
        rgba(255,255,255,.8)
        ),
        url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; 

    .center{
        &.cloud{
            top: 65%;
        }
        position: relative;
        ul{ 
            left: 20%;
        }
    }
    .welcome_msg{
        color: #000;
        position: absolute;
        z-index: 999;
        .inner{
            width: 640px;
            display: inline-block;
            h2{
                font-size: 40px;
                //font-weight: 700;
                margin-bottom: 1em;
            }
            p{
                font-size: 20px;
                line-height: 1.3em;
            }

            .ebtn{margin-top: 30px;}

        }

    }
    .godown{  text-align: center;
              bottom: 0px;
              position: absolute;
              cursor: pointer;
              width: 100%;
              &.animated {
                  -webkit-animation-duration: 2s;
                  animation-duration: 2s;}

    }
} 

.section1{
    text-align: center;
    .col3-wrap{
        h3{
            padding: 20px 0 5px 0;
        }  
        p{
            font-size: 16px;
        }
        .img-wrap{
            height: 100px;
            img{
                height: 100%;;
            }
        }
        padding-bottom: 20px;
    }
}

.section2{
    text-align: center;
    background: $color1;

    .col3-wrap{
        width: 33.333%;
        font-size: 16px;
        padding: 5px;
        @extend .left;
        .col{
            @extend .boxsizing;
            padding: 5%;
            min-height: 150px;
            -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
            background:#fff;
            p{font-size: 16px; font-weight: 400;}
        }

    }
    /*    .project_thumb{
    
            li{
                position: relative;
                min-height: 247px; 
                @extend .left;
                width: 24.5%;
                @include box-sizing();
                @include trasition();
                background: $color3;
                color:#fff;
                &:hover{
                    background: #fff;
                    p,h4{color: #000;}
                }
    
                img{
                    width: 100%;
                }
                .caption{
                    position: absolute;
                    background: #000;
                    padding: 5px 0;
                    bottom: 0px;
                    z-index: 99;
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                    width: 100%;
                }
    
            }
            .project_detail{
                background:#fff;
                .center{
                    position:relative;
                    p{font-size: 14px;}    
                }
    
                &:hover{
                    color: #fff;
                }
            }
        }*/
}
.section3{
    .dark-color{color: $color3 !important; padding-top: 30px;  }
  background: $color1;
    background-position: center;
    h2{
        &:after{
            background-color: #fff;
        }
    }
    .slider-wrapper{
        margin-top: 20px;
        //overflow: hidden;
        //background-color: red;
    }
    .about-wrapper{
        padding: 30px 10px 10px 10px;
        overflow: hidden;
        
        @extend .boxsizing;
        h2{
            margin-bottom: 40px;
        }
    }
    .bg{
        background-color: $color2;
    }
    .img{
        background: url(../img/computer-people1.jpg);
        height: 402px;
        background-size: 200%;
        background-position: center;
    }
    text-align: center;
    p,h2{color: #fff !important;}
    .ebtn{
        color: #fff;
        border-color: #fff;
        margin:80px 0 120px 0;
        &:hover{
            background-color: #fff;
            color: $color3;
        }
    }
    #tm{//testimonial
        position:relative;
        &:before{
            content: "";
            background: url(../img/open_quote.png);
            /*            width: 96px;
                        height: 81px;*/
            width: 48px;
            height: 40px;
            position: absolute;
            top: -38px;
            left: -70px;
            background-size: cover;
            /*opacity: 0.2;*/
        }
        &:after{
            content: "";
            background: url(../img/close_quote.png);
            /*            width: 98px;
                        height: 84px;*/
            width: 49px;
            height: 42px;
            position: absolute;
            bottom: 174px;
            right: -70px;
            background-size: cover;
            /*opacity: 0.2;*/
        }
        width: 660px;
        margin: 0 auto;
        .owl-item{
            font-family: 'Merriweather', serif;
            font-size: 18px;
            color: #000;
            line-height: 1.3em;
            font-weight: 300;

        }
        .client{
            width: 72%;            
            margin:0 auto;
            padding-top: 20px;
                 transform: translateX(-19%);
                    -webkit-transform: translateX(-19%);
            .right{
                position: relative;
            
                h4{
                    font-family: 'Merriweather', serif;
                    font-size: 24px;
                    color: #000;
                    line-height: 1em;
                }
                .position{
                    font-family: 'Merriweather', serif;
                    font-size: 18px;
                    color: $color5;
                }
            }
            .left{
                img{
                    width: 50%;
                    position: relative;
                    /*top: 48px;*/
                    right: -118px;
               
                }
            }
        }
    }


}
.section4{
    text-align: center;
    .col5-wrap{
        @extend .boxsizing;
        border: 1px solid #c0c0c0;
        height: 200px;
        @extend .left;
        margin-right: -1px;
        margin-bottom: -1px;
        position: relative;
        img{
            max-width: 100%;
        }
    }
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 100px 0;
    font-size:20px;
    color: $color1;

    h2{font-weight: 600;}
    a{ 
        @include trasition();
        color: $color2;
        &:hover{color: #fff;}
    }
    .footer-menu,.address{
        line-height:1.6em;
        overflow: hidden;
        border-right: 1px solid $color2;
        min-height: 200px;
    }
    .footer-menu{

        margin-top: 50px;
    }
    .address{

        li{
            font-weight: 300;
            .view_map{
                text-decoration: underline;
            }
        }
    }
    .contact-form{
        //$color: #6a6a61;
        $font_size: 16px;
        @include placeholder($color2,$font_size);
        input,textarea{
            width: 100%;
            background-color: transparent;
            border: 1px solid $color2;
            padding: 5px;
            text-indent: 5px;
            @extend .boxsizing;
            margin-bottom: 30px;
            outline: none;
            font-size: 16px;
        }
        textarea{
            min-width: 100%;
            max-width: 100%;
            max-height: 200px;
            min-height: 114px;

        }
        input[type="submit"]{
            width: auto;
            border:none;
        }
        .ebtn{
            font-size: 20px;
            color:#fff;
            border: 3px solid #fff;
            padding: 10px 25px;
            display: inline-block;
            text-decoration: none;
            background: $color6;
        }
        .ebtn:hover{
            color: $color4;
            background: #fff;
        }

    }
    .social{width: 243px; margin: 0 auto; 
            li{
                @extend .left;
                margin-right: 36px;
                z-index: 9999;
                a{
                     color:$color6;
                     &:hover{
                         color: #fff;
                     }
                }
            }
    }
}
.footer-btm{
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.map-wrapper{
    position: relative;
    height: 200px;
    width: 100%; 
    #map-canvas {  
        height: 100%;
        width: 100%; 
        margin: 0; 
        padding: 0;        
    }
    .map-overlay{
        display: block;
        content: "";
        background: rgba(0,0,0,0.8);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        @include trasition;
        &:after{
            content: "";
            position: absolute;
            bottom: 0px;
            height: 1px;
            background: $color5;
            //width: 0%;
        }
        &:hover{
          //  border-bottom: 1px solid $color5;
          &:after{
             animation-name: line_animation;
            animation-duration: 4s;
          }
            
            
        }
       
        /*z-index: 9;*/
    }
}



.close1{
    display: none;
    position: absolute;
    color: $color3;
    font-size: 30px;
    /*bottom: -60px;*/
    right: 30px;
    cursor: pointer;
    z-index: 5;
}
.mobile-menu-btn{
    display: none; 
    color: #fff;
    @extend .right;
    font-size: 36px;
    padding: 14px 20px;
    background: #000;
    position: relative;
    cursor: pointer;
    right: -15px;
    .fa-bars{
        color: #fff;
    }
}
.mobile-menu{
    display: none;
    position: fixed;
    right: -250px;
    top: 0px;
    height: 100%;
    width: 250px;
    background-color: #000;
    z-index: 999;
    @include trasition();
    ul{

        li {  width: 100%;
              a{
                  display: block;
                  padding: 22.5px;
                  color: #fff;
                  background-color: #000;
                  font-weight: 700;
                  font-size: 20px;
                  &:hover{
                      background: $color5;
                      color: #fff;
                  }

              }
        }
    }
}
.menu-left{
    right: 0px;
}
.about-us{
    margin: 0; padding: 0;
    a{
        font-size: 14px;
        color:$color4;
        font-weight: 700;
        &:hover{
            color: $color5;
        }
    }
}

/*MEDIA QUERIES*/
@media(max-width:1260px){
    .header{
        background-size: cover;
    }
}
@media(max-width:1100px){
    .section2 .project_thumb 
    li 
    { position:relative; 
      height: 247px;
      img {
          height: 100%;
      }
    }

}
@media(max-width:900px){
    .nav1 h1 {  margin: 0px;  padding: 9px 0;}
    .body-wrap{@include trasition();left: 0px; position: relative;z-index: 9;}
    .body-left{left: -250px;}
    .nav1    { position: relative;
               ul{display: none;}   
    }
    .mobile-menu-btn{display: inline-block; position: fixed;right: 0px; @include trasition();}
    .mobile-menu{display: block;}
    .section2 .project_thumb 
    li 
    { position:relative; 
      width: 50%;
      height: 260px;
      img {
          height: 100%;
      }
    }

    .menu-btn-left{
        right: 250px;
    }

}

@media(max-width:767px){
    h2{font-size: 24px !important; }
    p{font-size: 16px !important;}
    .section2 .project_thumb 
    li 
    { position:relative; 
      width: 100%;
      height: auto;
      img {
          height: auto;
      }
    }

    .header .welcome_msg .inner {
        width: 100%;
    }
    .bottom_bar::after {
        content: "";
        /*    position: absolute;
            display: inline-block;
            width: 97px;
            height: 5px;
            background-color: #958976;
           
            text-align: center;*/
        bottom: -20px;
        right: 35%;
    }
    .section3 #tm{width: 90%;}
    .section3 #tm:before{left: -25px;}
    .section3 #tm:after{bottom: 273px;
                        right: -25px;}
    .section3 #tm .owl-item{ font-size: 16px;}
    .footer .social{
        width: 100%;
        /*margin: 0 2%;*/
    }
    .footer .social li{
        margin: 0 2%;
    }
    .footer .footer-menu, .footer .address{border-right: none;}
}