@mixin trasition(){    
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

@mixin placeholder($color,$font_size){
    ::-webkit-input-placeholder {
        color: $color;
        font-size: $font_size;
    }

    :-moz-placeholder {
        color: $color;
        font-size: $font_size;  
    }

    ::-moz-placeholder {
        color: $color;
        font-size: $font_size; 
    }

    :-ms-input-placeholder {  
        color: $color;
        font-size: $font_size; 
    }
}

@mixin box-sizing(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes example {
    from {width:0%;}
    to {width:100%;}
}