.ebtn {
    font-size: 22px;
    color: $color3;
    border: 3px solid $color3;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    @include trasition();
}
.ebtn:hover {
    background: #fff;
    color: $color3;
    border: 3px solid #fff;
}
